body {
    background-color: aqua;
}

.bonus {
    background-color: pink;
}

.hagkaup {
    background-color: orange;
}

.olis {
    background-color: green;
}

.zara {
    background-color: black;
    color: white;
}

.eldumrett {
    background-color: lightgreen;
}

.storkaup {
    background-color: purple;
}